---
layout: default
---
<aside id="post-toc" class="post-toc" aria-label="Table of contents" hidden>
  <button type="button" class="post-toc__title" aria-expanded="false">Table of Contents<span class="post-toc__caret" aria-hidden="true">&#9660;</span></button>
  <nav class="post-toc__nav"></nav>
</aside>
<div class="titlebar titlebar--post">{{ page.title }}</div>
<section class="panel post">
  <p class="meta post-meta">
    {{ page.date | date: "%Y-%m-%d" }}
    {% if page.tags and page.tags.size > 0 %}
      &middot; {{ page.tags | join: ", " }}
    {% endif %}
  </p>
  {{ content }}
  <hr />
  <p class="meta"><a href="{{ '/blog/' | relative_url }}">&larr; all posts</a></p>
</section>
<script src="{{ '/assets/js/post-toc.js' | relative_url }}" defer></script>
<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@type": "Article",
  "headline": {{ page.title | jsonify }},
  "datePublished": "{{ page.date | date_to_xmlschema }}",
  "dateModified": "{{ page.date | date_to_xmlschema }}",
  "author": { "@type": "Person", "name": "Justin Becker", "url": "{{ site.url }}" },
  "publisher": { "@type": "Person", "name": "Justin Becker", "url": "{{ site.url }}" },
  "url": "{{ page.url | absolute_url }}"{% if page.description %},
  "description": {{ page.description | jsonify }}{% endif %}{% if page.image %},
  "image": "{{ page.image | absolute_url }}"{% endif %}
}
</script>

{% include comments.html %}

{% if page.math %}
<script>
  window.MathJax = {
    tex: { inlineMath: [['\\(','\\)']], displayMath: [['\\[','\\]']] },
    options: { skipHtmlTags: ['script','noscript','style','textarea','pre','code'] }
  };
</script>
<script id="MathJax-script" async src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-chtml.js"></script>
{% endif %}
